[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QQreflimits"]
	path = QQreflimits
	url = https://github.com/jjkraker/qqreflimits
